.occupation{
  padding: 0rem 3rem;
}
.occupation h2{
  font-size: 2rem;
  font-weight: 600;
}
.occupation-section .job-filter{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
  padding: 20px 40px;
  /* display: none;/ */
}
.job-filter select{
  cursor: pointer;
  color: #000000;
  font-weight: 400;
  border: none;
  outline: none;
}
.job-filter select option{
  background: #0A2647;
  color: #FFF;
}
.jlisthead{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  justify-items: start;
  margin-top: 3rem;
  padding: 1rem 3.5rem;
  background: #0A2647;
  color: #fff;
}

.jlist{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  justify-items: start;
  cursor: pointer;
  padding: 0rem 2rem;
}
.jlist.delete {
  display: none;
}
.jlist:hover{
 background: rgb(236, 236, 236);
}
.jlist h3 {
  font-size: 1.2rem;
  padding-bottom: 0rem;
  font-weight: 500;
}
.jlist img{
  width: 150px;
}
.type-job li{
  list-style: none;
  display: none;
}