
@media (min-width:600px) and (max-width:1000px ) {
  .panel-one{
    width: 25rem;
  }
  .photo-content img{
    max-width: 340px;
  }
}
/* --- FIX FOR HAMBURGER MENU --- */
@media (max-width: 768px) {
  #menu.active {
    display: flex !important; /* Force display over 'hidden' */
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    top: 80px;
    right: 5px;
    width: 250px;
    background-color: #205295;
    border-radius: 10px;
    padding: 20px 0;
    z-index: 100;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  #menu.active li {
    margin: 10px 0;
    margin-left: 0 !important; /* Reset desktop margin */
    padding-left: 20px;
  }
  #menu.active .lang-option {
    margin-left: 0 !important;
  }
}

@media (max-width: 360px) {
  #menu.active {
    width: 70%;
  }
}
/* Animation Styles */
.blob-btn__blobs {
  filter: url("#goo");
}
.blob-btn__blob {
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.cta:hover {
  box-shadow: 10px 10px 0 #fbc638;
}
.cta:hover span:nth-child(2) {
  margin-right: 45px;
}
.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
@keyframes color_anim {
  0%,
  100% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
}
@keyframes company {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.animate-slider {
  animation: company 10s linear 0.1s infinite alternate;
}
.animate-slider-reverse {
  animation: company 10s linear 0.1s infinite alternate-reverse;
}
